/* Contenedor principal */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #28a745, #81c784); /* Verde degradado */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container-logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.container-logout button {
    padding: 10px 20px;
    background-color: #a41e2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.container-logout button:hover {
    background-color: #495057; /* gris más oscuro */
}

/* Título */
h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}

/* Contenedor de botones */
.grid-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

/* Botones principales */
.grid-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #2f9246;  /* Verde */
    color: white;
    border: 2px solid #fff;     /* borde blanco para resaltar */
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 150px;
    transition: all 0.3s ease;
}

.button-icon {
    width: 50px;
    height: 50px;
}

.grid-button:hover {
    background-color: #566d5b; /* Verde más oscuro */
    transform: scale(1.05);
}